@charset "UTF-8";
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0; letter-spacing: -0.2px;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
label, input {display: block;}
input,select,textarea,button {vertical-align: middle;margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(0, 0, 0, .1);}
textarea {resize: none}
body {line-height: 1;-webkit-text-size-adjust: none;height: 100%;min-width: 1280px;}
legend,caption,.blind {position: absolute;clip: rect(0 0 0 0);font-size: 0; visibility:hidden;margin: -1px;width: 0px;height: 0px;line-height: 0px;}
body,input,select,textarea,button,table,a{font-family: 'Heebo','Noto Sans',sans-serif;font-size: 14px;color: #333;}
a {text-decoration: none;}
button {cursor: pointer}
fieldset,img {border: 0;vertical-align: top}
ol, ul {list-style: none;}
.clearfix:after {content: '';clear: both;display: block;}
table {border-collapse: collapse;border-spacing: 0;}
*, *:before, *:after {box-sizing: border-box;}
*:focus {border-color: #333;}
*::placeholder {color: #bbb;}
/* 텍스트 폼 공통 */
input[type="text"] {border: 1px solid #dee1e6;border-radius: 4px;height: 56px;width: 250px;padding: 0 50px 0 10px; color: #bbb; font-weight: 600;}
input[type="text"]::-ms-clear {display:none;}
/* 체크박스 폼 공통 */
input[type="checkbox"] + label {float:left;position: relative;padding-left: 24px;line-height: 24px;font-weight: 600;color: #999;cursor: pointer;}
input[type="checkbox"] + label:before {content: '';position: absolute;left: 0;top: 3px;width: 16px;height: 16px;border: 1px solid #e0e1e6;border-radius: 4px;cursor: pointer;}
/* 라디오버튼 폼 공통 */
input[type="radio"] + label {position: relative;padding-left: 25px;cursor: pointer; color: #bbb; font-weight: 500; padding-top: 4px;}
input[type="radio"]:checked + label {color: #333;font-weight: 800;}
input[type="radio"] + label:before {content: '';position: absolute;left: 0;top: 3px;width: 16px;height: 16px;border: 1px solid #e0e1e6;border-radius: 4px;cursor: pointer;}
input[type="radio"]:checked + label:before {content:'';position: absolute;left:0;top: 3px;width: 16px;height: 16px;border: 1px solid #333;}
input[type="radio"]:checked + label:after {content:'';position: absolute;left:3px;top: 6px;width: 10px;height: 10px;border-radius: 2px;background: #0101c9;}
/* 셀렉트 공통 */
.select_wrap {position: relative;top: 0;display: inline-block;border: 1px solid #dee1e6; border-radius: 4px; line-height: 54px; width: 250px;}
.select_wrap:before {content: '';position: absolute;width: 30px; height: 100%;right: 0;top: 0;background: #fff;}
.select_wrap:after {content: '';position: absolute;right: 16px;top: 24px;width: 6px;height: 6px;border-right: 2px solid #ddd;border-bottom: 2px solid #ddd;transform: rotateZ(45deg);-ms-transform: rotate(45deg);z-index: 5;}
.select_wrap select {width: 245px;height: 54px;border: 0;color: #bbb;font-weight: 600;padding-left:10px;border-radius: 4px;-moz-appearance: none;-webkit-appearance: none;appearance: none;z-index: 1;outline: none;}
.select_wrap select option {color: #bbb;}
/* IE10~ 셀렉트 화살표 제거 */
select::-ms-expand {display: none;}
/* 스킵 네비게이션 */
#skipNavi {position: absolute;left: 0;top: -50px;text-indent: -9999px;font-size: 0;width: 100%;z-index: 9999;}
#skipNavi a:focus,#skipNavi a:active {position: absolute;left: 0;top: 50px;display: block;width: 100%;padding: 5px 0;text-align: center;text-indent: 0;font-size: 13px;font-weight: bold;background: #f2f2f2;}





/*******************

 MINERVA IT - PC.ver

********************/

/* 헤더 */
#header {width: 100%;height: 65px;background: #fff;}
#header .header_inner {width: 1280px;height: 100%;margin: 0 auto;}
#header .header_inner .logo {float: left; margin-top: 13px;}
#header .header_inner .logo a {display: block;line-height: 41px;}
#header .header_inner .logo a img {margin-top: 10px;}
/* 헤더.gnb */
#gnb {float: left;margin-left: 48px;}
#gnb ul {float: left;}
#gnb ul li {float: left;margin-right: 24px;position: relative;}
#gnb ul li:last-child {margin-right: 0;}
#gnb ul li a {display: block;color: #d0d0d0;font-weight: 800;line-height: 65px;}
/* gnb li 클릭 시 on 클래스 부여 */
#gnb ul li.on:after {content: '';position: absolute;left: 0;bottom: 0;width: 100%;height: 3px;background: #3131e1;display: block;}
#gnb ul li.on a {color: #3131e1;}
/* 헤더. 유틸 */
#header .header_inner .util {float: right;}
#header .header_inner .util li {float: left;}
#header .header_inner .util li:last-child {margin-left: 23px;}
#header .header_inner .util li a {display: block;color: #4646eb;font-weight: 800;width: 90px; text-align:right; line-height: 65px;position: relative;}
#header .header_inner .util li.try a {color: #000090;}
#header .header_inner .util li a:before {content: '';position: absolute;left: -2px;top: 26px;width: 14px;height: 13px;background: url(../images/ico_clock.png) no-repeat;}
#header .header_inner .util li.try a:before {background-image: url(../images/ico_download.png);}

/* 푸터 */
#footer {width: 100%;height: 547px;background: #17181a;}
#footer .footer_inner {width: 1280px;margin: 0 auto;overflow: hidden;}
/* 푸터 탑 */
#footer .footer_inner .footer_top {margin-bottom: 57px; overflow:hidden;}
#footer .footer_inner .footer_top .util {float: right;}
#footer .footer_inner .footer_top .lang {float: left;position: relative;width: 134px;line-height: 64px;border: none;background: #292929;font-size: 13px;text-align: center;color: #aaa;}
#footer .footer_inner .footer_top .lang:before {content: '';position: absolute;width: 13px;height: 13px;left: 15px;top: 25px;background: url(../images/ico_globe.png) no-repeat;}
#footer .footer_inner .footer_top .btn_top {float: left;width: 64px;line-height: 64px;font-size: 13px;background: #292929;color: #aaa;text-align: center;margin-left: 1px;}
/* 푸터 바텀 */
#footer .footer_inner .footer_bot {width: 100%;overflow: hidden;}
/* 푸터 바텀. 왼쪽 */
#footer .footer_inner .footer_bot .footer_bot_left {float: left; width: 440px;height: 311px;border-right: 2px solid #242527;}
#footer .footer_inner .footer_bot_left .footer_logo {margin-bottom: 46px;}
#footer .footer_inner .footer_bot_left .footer_logo a {display: block; font-size: 32px;font-weight: 500;color: #fff;line-height: 36px;}
/* 푸터. 이메일*/
#footer .footer_inner .footer_bot_left .email_wrap {margin-bottom: 43px;}
#footer .footer_inner .footer_bot_left .email_wrap .tit {color: #fff;margin-bottom: 13px;width: 240px;}
#footer .footer_inner .footer_bot_left .email_wrap .box_email .input_email {float: left;padding-left: 15px;line-height: 56px;border: 1px solid #e0e1e6;border-radius: 0;}
#footer .footer_inner .footer_bot_left .email_wrap .box_email .input_email::placeholder{font-weight: 400;font-size: 12px;letter-spacing: 0.5px;}
#footer .footer_inner .footer_bot_left .email_wrap .box_email .btn_signup {width: 80px;line-height: 56px;border: none;color: #fff;font-weight: 700;background: #3636c6;}
/* 푸터. 카피라이트 */
#footer .footer_inner .footer_bot_left .copyright {width: 100%;padding-right: 60px;}
#footer .footer_inner .footer_bot_left .copyright .tit {font-size: 15px;color: #fff;font-weight: 500;margin-bottom: 15px;}
#footer .footer_inner .footer_bot_left .copyright .fnb {overflow: hidden;margin-bottom: 12px;}
#footer .footer_inner .copyright .fnb .top {overflow: hidden;margin-bottom: 12px;}
#footer .footer_inner .footer_bot_left .copyright .fnb .top li,#footer .footer_inner .footer_bot_left .copyright .fnb .bot li{position: relative;float: left;margin-right: 33px;}
#footer .footer_inner .footer_bot_left .copyright .fnb .top li:after,#footer .footer_inner .footer_bot_left .copyright .fnb .bot li:after {content: '';position: absolute;right: -16px;top: 2px;width: 1px;height: 9px;background: #444;}
#footer .footer_inner .footer_bot_left .copyright .fnb .top li:last-child:after,#footer .footer_inner .footer_bot_left .copyright .fnb .bot li:last-child:after {display: none;}
#footer .footer_inner .footer_bot_left .copyright .fnb li a {font-size: 13px;color: #888;}
#footer .footer_inner .footer_bot_left .copyright .sns_wrap {overflow: hidden;}
#footer .footer_inner .footer_bot_left .copyright .sns_wrap a {margin-right: 20px;}
/* 푸터 바텀. 오른쪽 */
#footer .footer_inner .footer_bot_right {float: left; width: 840px;height: 311px;padding-left: 40px;}
/* 푸터 바텀. 사이트맵 공통*/
#footer .footer_inner .footer_bot_right .sitemap_wrap {float: left;width: 25%;height: 100%;box-sizing: border-box;}
#footer .footer_inner .footer_bot_right .sitemap_wrap .tit {font-size: 16px;color: #fff;font-weight: 500;margin-bottom: 30px;}
#footer .footer_inner .footer_bot_right .sitemap_wrap .sitemap li {margin-bottom: 14px;}
#footer .footer_inner .footer_bot_right .sitemap_wrap .sitemap li a {font-size: 13px; color: #888;}
#footer .footer_inner .footer_bot_right .sitemap_wrap.products .sitemap {margin-bottom: 126px;}
#footer .footer_inner .footer_bot_right .sitemap_wrap.products .support li {margin-bottom: 12px;}
#footer .footer_inner .footer_bot_right .sitemap_wrap.products .support li:last-child {margin-bottom: 0;}
#footer .footer_inner .footer_bot_right .sitemap_wrap.products .support li a {font-size: 13px;color: #fff;font-weight: 500;}